%console-table-reset {
  table-layout: auto;
  .pf-c-table__action {
    width: unset !important;
  }
  &.pf-m-compact {
    tr > td {
      vertical-align: unset;
    }
  }
}

.pf-c-table.agents-table {
  @extend %console-table-reset;
}

.events-modal__event-list .pf-c-table {
  @extend %console-table-reset;
}
