.agent-table {
  padding: 15px;
  .pf-c-table {
    table-layout: auto;
    .pf-c-table__action {
      width: unset !important;
    }
  }

  .pf-c-table.pf-m-compact {
    tr>td {
      vertical-align: unset; 
    }
  }
};

